# Environments
.env
.env.*
!.env.example

# Docker & Local Data
backend/uploads/
pgdata/
*data/

# Go
backend/nwepp-api
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/vendor/

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.DS_Store
frontend/*.log
frontend/.pnp.*
frontend/.yarn/cache
frontend/.yarn/unplugged
frontend/.yarn/build-state.yml

# IDEs and OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo
